/* TODO Add site wide styles */
/* input:focus { font-size: 16px!important} */

* and (orientation:portrait) {
  transform: rotate(90deg);
}
/* 
@media screen and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */

@viewport @-o-viewport @-ms-viewport {
  orientation: portrait;
}
